{% extends "base.html" %}
{% block content %}
    <div class="container bg-primary text-white p-4">
        <h2> Welcome to ASX_DB </h2>

    </div>
    <br/>
    <p>
        The purpose of this application is to allow users to track and view data about companies listed on the Australian Stock Exchange (ASX).
    </p>
    <p>
        Use the links in the navigation bar above to explore the site:
        <ul>
            <li>Users: View an index of all registered users</li>
            <li>Tickers: View an index of companies that we are tracking</li>
            <li>Login/Register: Create or login to your ASX_DB account</li>
        </ul>
    </p>
        This application demonstrates CRUD web development capabilities with Python using the Flask framework in combination with:  

        <ul>
            <li>postgresql</li>
            <li>psycopg2</li>
            <li>jinja</li>
            <li>marshmallow</li>
        </ul>


        Find more about the development of this project, <a href=https://github.com/l-j-g/T3A3_asx_app>here</a>.
    </p>
    <p>
        {{ page_data.usage["no_logins"] }} Users have logged into this site!
    </p>
{% endblock %}