{% extends "base.html" %}
{% block content %}
    <br/>
    <h2>List of Tickers:</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>    
                {% for group, title in headers.items() %}
                {% if group == page_data.group and page_data.order == "desc" %}
                <th><a href="/tickers/orderway=asc&groupby={{ group }}"> {{ title }} [ ⬇ ] </a></th>
                {% elif group == page_data.group and page_data.order == "asc" %}
                <th><a href="/tickers/orderway=desc&groupby={{ group }}"> {{ title }} [ ⬆ ] </a></th>
                {% else %}
                <th><a href="/tickers/orderway=desc&groupby={{ group }}"> {{ title }} </a></th>
                {% endif %}
                {% endfor %}

            </tr>

        </thead>
        {% for ticker in page_data.tickers %}
        <tbody>
            <tr>
                <td>
                    <a href="/tickers/{{ ticker.ticker_id }}/">{{ ticker.ticker_id }}</a>
                </td>
                <td>
                    {{ ticker.company_name }}
                </td>
                <td>
                    {{ ticker.sector }}
                </td>
                <td>
                    {{ ticker.marketcap }}
                </td>
                {% if current_user.is_authenticated %}
                <td>
                    <a href="/tickers/{{ ticker.ticker_id }}/add"> Add to Portfolio </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <hr/>
{% endblock %}