{% extends "base.html" %}
{% block content %}

    <p>User Name: {{ page_data.user.username }}</p>
    <p>User ID: {{ page_data.user.id}}</p>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Company Name</th>
                <th>Status</th>
            </tr>
        <tbody>
        {% for ticker in current_user.followed_companies %}
            <tr>
                <td>
                    <a href="/tickers/{{ ticker.ticker_id }}/info">{{ ticker.ticker_id }}</a>
                </td>
                <td>
                    {{ ticker.company_name }}
                </td>
                <td>
                    <a href="/tickers/{{ ticker.ticker_id }}/remove">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
